<div class="container">
    <div class="background-image"></div>
    <div class="content">
        <div class="frame">
            <h1>Fim de jogo</h1>
        </div>
        <div class="small-images">
            <img src="../../../assets/image/character/brain_nice.png" style="width: 250px;" class="char-1" alt="">
            <img src="../../../assets/image/character/brain_graduate.png" style="width: 300px;" class="char-2" alt="">
            <img src="../../../assets/image/character/brain_positive.png" style="width: 300px;" class="char-3" alt="">
            <img src="../../../assets/image/character/brain_ideia.png" style="width: 250px;" class="char-4" alt="">
            <button class="end-game-button" (click)="goToHome()">Finalizar</button>
        </div>
    </div>
</div>