<div class="modal-overlay">
    <div class="modal-content">
        <div class="content-wrapper">
            <div class="result-info">
                <h2 class="text-result">{{data.title}}</h2>
                <!-- <div class="stars">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div> -->
                <p>{{data.description}}</p>
            </div>
            <div class="image-container">
                <img src="{{data.image}}" style="width: 200px;" alt="Imagem">
            </div>
        </div>
        <button class="close-button" (click)="closeModal()">Continuar</button>
    </div>
</div>