.card {
  margin: 50px;
}

.center {
  margin: auto;
  text-align: center;
  background: #fff;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-2 {
  padding-top: 40px !important;
}

.tittle-toolbar {
  background-color: #00d084;
  color: #fff;
  margin-bottom: 30px;
}

.example-card {
  max-width: 300px;
  cursor: pointer;
}

.example-header-image {
  background-image: url("https://portal.stf.jus.br/hotsites/agenda-2030/assets/img/ods/01-pobreza.png");
  background-size: cover;
}

mat-grid-tile {
  height: 100%;
}

.height-card {
  height: 100%;
}

.img-card {
  max-width: 100%;
}

.p-lr-90 {
  padding: 0px 90px;
}

.img-character {
  position: absolute;
  bottom: 20px;
  width: 15%;
}

.example-spacer {
  flex: 1 1 auto;
}